/*
 * Global header
 */

body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 1rem;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
  background-color: #eaebf0;
  background-image: url("images/main-bg.png");
  background-size: 20px 10px;
}

.global-header {
  background-color: #fff;
}

.global-header-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.global-header-logo {
  width: 179px;
  height: 24px;
}

.global-header-nav {
  text-align: right;
}

.global-header-nav-link {
  margin-left: 28px;
  line-height: 1.5;
  color: #3e4247;
  text-decoration: none;
}

.banner {
  padding-top: 80px;
  padding-bottom: 80px;
  line-height: 0;
  text-align: center;
  background-color: #161616;
}

.banner-logo {
  width: 419px;
  height: 131px;
}

/*
 * Content
 */

.content {
  padding-bottom: 48px;
}

.development-section {
  padding-top: 64px;
  padding-bottom: 64px;
  text-align: center;
}

.development-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #3e4247;
}

.development-description {
  margin: 0;
  line-height: 1.5;
  color: #3e4247;
}

.development-contact-button {
  margin-top: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 32px;
  padding-left: 32px;
  border: 0;
  text-align: center;
  color: #fff;
  background: #000;
  border-radius: 2px;
  cursor: pointer;
}

.complex-link {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 48px;
  text-decoration: none;
  background: #fff;
}

.complex-link:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.complex-photo {
  width: 491px;
  height: 350px;
}

.complex-info {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 32px;
  padding-right: 86px;
  border-bottom: 2px solid #646971;
}

.complex-city {
  margin: 0;
  font-family: Monaco, Menlo, Consolas, monospace;
  color: #646971;
  text-transform: uppercase;
}

.complex-title {
  margin-top: 24px;
  margin-bottom: 8px;
  font-size: 2.5rem;
  line-height: 1.4;
  color: #000000;
}

.complex-description {
  margin: 0;
  line-height: 1.5;
  color: #3e4247;
}

/*
 * Complex
 */

.complex {
  padding-top: 24px;
  border-top: 1px solid #eaebf0;
  background-color: #fff;
}

.complex-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.complex-header .complex-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-family: 'Philosopher', sans-serif;
  font-size: 2rem;
  line-height: 1.13;
  color: #3e4247;
}

.complex-adress {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.57;
  color: #a9afb6;
}

.complex-favorite {
  line-height: 0;
  box-sizing: border-box;
}

.complex-favorite-button {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid #e0e0e1;
  box-sizing: border-box;
  font-size: 10px;
  font-weight: 300;
  line-height: 1;
  text-decoration: none;
  color: #00779a;
  background: #fff;
  border-radius: 2px;
  cursor: pointer;
}

.complex-gallery-wrap {
  display: flex;
}

.complex-gallery-count {
  margin-top: -42px;
}

.complex-gallery-count-button {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border: 0;
  font-size: 10px;
  font-weight: 300;
  line-height: 1;
  color: #fff;
  text-decoration: none;
  background-color: #00779a;
  border-radius: 2px;
}

.complex-meta {
  padding-top: 42px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e0e0e1;
  display: flex;
  font-family: 'Philosopher', sans-serif;
}

.complex-meta-title {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 48px;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.13;
  color: #3e4247;
}

.complex-meta-small {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.57;
  font-family: 'Fira sans', sans-serif;
  color: #a9afb6;
}

.complex-architect {
  padding-right: 24px;
}

.complex-specifications {
  padding-top: 32px;
  padding-bottom: 38px;
}

.complex-specifications-title {
  margin-top: 0;
  margin-bottom: 16px;
  font-family: 'Philosopher', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.3;
  color: #3e4247;
}

.complex-specifications-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.complex-specifications-list-title {
  flex: 0 0 50%;
  margin-bottom: 11px;
  font-size: 1rem;
  line-height: 1.38;
  color: #a9afb6;
}

.complex-specifications-list-value {
  flex: 0 0 50%;
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.56;
  text-align: left;
  color: #3e4247;
}

.compex-description {
  padding-bottom: 28px;
  border-bottom: 1px solid #e0e0e1;
}

.complex-description-title {
  margin: 0;
  font-family: 'Philosopher', sans-serif;
  font-size: 24px;
  line-height: 1.13;
  color: #3e4247;
}

.complex-description-content-paragraph {
  margin-top: 0;
  margin-bottom: 28px;
  font-size: 1rem;
  line-height: 24px;
  text-align: left;
  color: #3e4247;
}

.complex-description-content-paragraph:last-child {
  margin-bottom: 0;
}

.complex-structure {
  padding-top: 32px;
  padding-bottom: 64px;
}

.complex-structure-title {
  margin-top: 0;
  margin-bottom: 12px;
  font-family: 'Philosopher', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.3;
  color: #3e4247;
}

.complex-structure-item {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.38;
  color: #3e4247;
}

.complex-structure-item:last-child {
  margin-bottom: 0;
}

.complex-offers {
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: #f4f5f9;
}

.complex-offers-title {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: 'Philosopher', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.3;
  color: #3e4247;
  text-align: center;
}

.complex-offer {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 32px;
  padding-right: 32px;
  background: #fff;
}

.complex-offer-title {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: 'Philosopher', sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  color: #3e4247;
}

.complex-offer-info {
  margin-bottom: 25px;
}

.complex-offer-info-title {
  margin-bottom: 10px;
  font-size: 1rem;
  line-height: 22px;
  color: #a9afb6;
}

.complex-offer-info-value {
  margin-left: 0;
  font-size: 1rem;
  line-height: 22px;
  color: #3e4247;
}

.complex-offer-info-button {
  display: block;
  margin-top: 33px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 32px;
  padding-left: 32px;
  border: 0;
  font-size: 1rem;
  color: #fff;
  line-height: 1;
  background-color: #000;
  border-radius: 2px;
  cursor: pointer;
}

.complex-place {
  padding-top: 64px;
  padding-bottom: 214px;
  background-color: #3e4247;
}

.complex-place-name {
  margin-top: 116px;
  font-family: 'Philosopher', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #a9afb6;
}

.complex-place-title {
  margin-top: 48px;
  margin-bottom: 48px;
  padding-right: 16px;
  font-size: 3rem;
  font-family: 'Philosopher', sans-serif;
  font-weight: bold;
  line-height: 1.25;
  color: #ffffff;
}

.complex-place-link {
  font-size: 1rem;
  line-height: 1.5;
  color: #00779a;
  text-decoration: none;
}

.complex-place-photo {
  width: 600px;
  height: 560px;
}

.complex-map {
  margin-top: -153px;
  padding-bottom: 60px;
}

.complex-map-photo {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  width: 600px;
  height: 306px;
}

.complex-map-places {
  margin: 0;
  padding-top: 24px;
  background: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.complex-map-places-name {
  margin-bottom: 8px;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.38;
  color: #3e4247;
}

.complex-map-places-value {
  margin-left: 0;
  margin-bottom: 26px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e0e0e1;
  font-size: 1rem;
  line-height: 1.38;
  color: #a9afb6;
}

.complex-map-places-value:last-child {
  margin-bottom: 0;
  border: 0;
}

/*
 * Global footer
 */

.global-footer {
  padding-top: 32px;
  padding-bottom: 32px;
  background: #111;
}

.footer-wrap {
  padding-left: 8px;
  padding-right: 8px;
}

.global-footer-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 14px;
  color: #646971;
}

.global-footer-info {
  font-size: 14px;
  font-weight: 300;
  color: #a9afb6;
}

.global-footer-info:last-child {
  margin-top: 24px;
}

.global-footer-nav {
  padding-top: 16px;
  border-top: 2px solid #3e4247;
  line-height: 1.5;
}

.global-footer-nav-link {
  display: block;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
}

.global-footer-nav-complexes .global-footer-nav-link:last-child {
  margin-top: 16px;
}

.global-footer-description {
  margin-top: 95px;
  font-size: 11px;
  font-weight: 300;
  line-height: 1.8;
  text-align: left;
  color: #a9afb6;
}
